<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
  <h1>
    Movie Database Thing
  </h1>

  <body>
    <div>
      <h3>Enter Movie Title</h3>
      <input type="text" class="form-control" [(ngModel)]="searchTitle" (keyup.enter)="submit()" id="title" style="border: 1px solid black;"
        required name="title">
      <button (click)="submit()">Submit</button>
    </div>
    <div class="movIeContainer">

      <div class="movieDetails">
        <h3>
          Title
        </h3>

        {{this.movieValue.title}}

        <h3>
          Rated
        </h3>
        {{this.movieValue.Rated}}
        <h3>
          Year
        </h3>
        {{this.movieValue.Year}}
        <h3>
          Plot
        </h3>
        {{this.movieValue.Plot}}
        <h3>
          Director
        </h3>
        {{this.movieValue.Director}}
        <h3>
          Actors
        </h3>
        {{this.movieValue.Actors}}
        <h3>
          Genre
        </h3>
        {{this.movieValue.Genre}}

      </div>
      <div class="movieImage">
        <img src="{{this.movieValue.Poster}}">
      </div>
    </div>
    <div *ngIf="canSubmit" class="submitButton">
      <button (click)="saveMovie()"  class="btn btn-success btn">Add Movie to Collection</button>
    </div>
  </body>
</div>
