<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Welcome</h2>
       </div>
     </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-success btn-block" (click)="tryRoute('add-title/')" >Movie Lookup</button> 
        <button class="btn btn-success btn-block" (click)="tryRoute('my-movies/')" >My Movies</button> 
        
        <br>
      </div>
    </div>
  </div>
  